.container {
    display: flex;
    text-align: center;
  
}
.header-text {
    font-weight: 700;
    font-size: large;
    font-display: block;
}
.searchBox {
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    display: inline-block;
}
.header-tile{
    display: flex;
    justify-content: space-around;
}

.text {
    font-size: medium;
    font-weight: 700;
    font-display: flex;
}