.container {
    display: flex;
    text-align: center;
    position: relative;
    text-align: center;
}
.header-text {
    font-family: Noto, Serif;
    place-content: center;
    font-weight: 700;
}
.searchBox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    display: inline-block;
}