.container {
    height: 100%;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.movieList-Sub{
    display: block;
    width: 60%;
}
.list {
    margin: 2em 0;
    font-size: 1rem;
    width: 500px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 290px;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {opacity: 1}
   .button:checked{
       color: red;
   }

   .button,button::after {
        color: black
    }

   .img {
    max-width: 50%;
    height: auto;
  }

  li {
      list-style: none;
  }

  .nomList {
      width: 40%;
      
  }